
  <table class="table">
    <thead>
    <tr>
      <th>Петиция</th>
      <th>Голоса</th>
      <th>Дата создания</th>
      <th>Осталось дней</th>
      <th colspan="2" class="text-center">Действия</th>
    </tr>
    </thead>
    <% @petitions.each do |petition| %>
        <tr>
          <td><%= link_to petition.title, petition_path(petition) %></td>
          <td><%= petition.votes.count %></td>
          <td><%= petition.created_at.strftime("%m/%d/%Y %I:%M") %></td>
          <td><%= days_last(petition.created_at) %></td>
          <% if petition.created_at > 90.days.ago %>
          <td><%= link_to "Изменить", edit_petition_path(petition) %></td>
          <% else %>
          <td></td>
          <% end %>
          <td><%= link_to "Удалить", petition, method: :delete %> </td>
        </tr>
    <% end %>
  </table>