<tr>
  <td><%= link_to petition.title, petition_path(petition) %></td>
  <td><%= petition.user.first_name %> <%= petition.user.last_name %></td>
  <td><%= petition.votes.count %></td>
  <td><%= petition.created_at.strftime("%m/%d/%Y %I:%M") %></td>
  <td><%= days_last(petition.created_at) %></td>
</tr>