<h2><%= params[:my] ? 'Мои' : 'Все' %> петиции</h2>

<% if params[:my] %>
    <%= render 'petitions/my_index' %>
<% else %>
<table class="table">
  <thead>
  <tr>
    <th>Петиция</th>
    <th>Автор</th>
    <th>Голоса</th>
    <th>Дата создания</th>
    <th>Осталось дней</th>
  </tr>
  </thead>
  <% @petitions.each do |petition| %>
      <%= render 'petition', petition: petition %>
  <% end %>
<% end %>

</table>

<%= form_tag(petitions_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Petitions" %>
    <%= submit_tag "Search" %>
<% end %>