<h1>Петиция</h1>

<div><h3><%= @petition.title %></h3></div>
<p><%= @petition.created_at.strftime("%m/%d/%Y %I:%M") %></p><br />
<p><%= @petition.text %></p>
<p>Голосов:<%= @petition.votes.count %></p><br />
<% if  @petition.voted_by?(current_user) %>
    Вы уже проголосовали за данную петицию
<% elsif @petition.user != current_user %>
    <%= button_to "Поддержать", votes_path({ petition_id: @petition.id }), method: :post %>
<% else %>

<% end %>